# ignoring files for cleaner repos

# Satwik local ignores
# Binaries created locally
bin/

#Library used for algebra
la4j-0.4.9/*

#Some random files eclipse creates
.project
.classpath
.metadata
src/.metadata
